@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Instructions"];
}
@* ---------------------------------------------------------------------------------------------------------------------- *@

<div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Account/Login.cshtml")
        </div>
    </div>
</div>
<div class="modal fade" id="myModalProfile" role="dialog" tabindex="-1" aria-labelledby="myModalProfile">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Manage/Index.cshtml")
        </div>
    </div>
</div>
<div class="modal fade" id="myModalRegister" role="dialog" tabindex="-1" aria-labelledby="myModalLabelRegister">
    <div class="modal-dialog" role="form" style="max-width:300px">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Account/Register.cshtml")
        </div>
    </div>
</div>
@* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *@

<div id="myCarouselPopular" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarouselPopular" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselPopular" data-slide-to="1"></li>
        <li data-target="#myCarouselPopular" data-slide-to="2"></li>
        <li data-target="#myCarouselPopular" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i<1">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner1.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <div>
                            <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                                {{mydata.instructionsName}}
                            </a>
                        </div>
                        <shadow>@Localizer["MorePopular"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==1">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner2.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["MorePopular"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==2">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner3.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["MorePopular"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==3">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner4.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["MorePopular"]</shadow>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarouselPopular" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarouselPopular" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@* ---------------------------------------------------------------------------------------------------------------------- *@
@* ---------------------------------------------------------------------------------------------------------------------- *@
<div id="myCarouselLastChanged" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarouselLastChanged" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselLastChanged" data-slide-to="1"></li>
        <li data-target="#myCarouselLastChanged" data-slide-to="2"></li>
        <li data-target="#myCarouselLastChanged" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==4">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner1.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["LastChanged"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==5">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner2.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["LastChanged"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==6">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner3.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["LastChanged"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==7">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner4.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["LastChanged"]</shadow>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarouselLastChanged" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarouselLastChanged" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
@* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
@* ---------------------------------------------------------------------------------------------------------------------- *@
<div id="myCarouselMaxRang" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarouselMaxRang" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselMaxRang" data-slide-to="1"></li>
        <li data-target="#myCarouselMaxRang" data-slide-to="2"></li>
        <li data-target="#myCarouselMaxRang" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==8">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner1.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["MaxRayting"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==9">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner2.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["MaxRayting"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==10">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner3.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["MaxRayting"]</shadow>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="max-height:500px">
            <div *ngFor="let mydata of mydatas; let i = index">
                <div *ngIf="i==11">
                    <img *ngIf="mydata.instructionImage" src={{mydata.instructionImage}} alt={{mydata.instructionsName}} class="img-responsive" style="max-width:100%;width:100%;" />
                    <img *ngIf="!mydata.instructionImage" src="~/images/banner4.svg" alt={{mydata.instructionsName}} class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>{{mydata.instructionTitle}}</p>
                        <a class="btn btn-default" [routerLink]="['/about',mydata.instructionId]">
                            {{mydata.instructionsName}}
                        </a>
                        <shadow>@Localizer["MaxRayting"]</shadow>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarouselMaxRang" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarouselMaxRang" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
@* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
@* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
<div class="row" style="padding-left:30%">
    <div class="col-md-3">
        <h2>@Localizer["Categories"]</h2>
        <ul>
            <li *ngFor="let mycategory of mycategories">
                {{mycategory.categoriesName}}
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>@Localizer["Hashtegs"]</h2>
        <ul>
            <li *ngFor="let myhashteg of myhashtegs" routerLink="#">
                #{{myhashteg.hashtegName}}
            </li>
        </ul>
    </div>
</div>
