@using Microsoft.AspNetCore.Identity
@using testkrs.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Instruction";
}
<div *ngFor="let mystep of mysteps; let j = index" class="modal fade" [id]="j" role="dialog" tabindex="-1" aria-labelledby="j">
    <div class="modal-dialog" role="document" style="min-width:700px">
        <div class="modal-content" style="width:auto">
            <div class="modal-header">
                <div class="modal-title" style="font-size:24px">
                    @Localizer["Step"] {{mystep.numStep}}
                </div>
            </div>
            <div class="modal-body">
                <div *ngFor="let myblock of myblocks; let a = index">
                    <div *ngIf="mystep.instructionStepId == myblock.stepPath">
                        <h4 align="justify">{{myblock.textComtent}}</h4>
                        <img *ngIf="myblock.imageContent!=null" src="{{myblock.imageContent}}" style="width:100%;height:auto;" />
                        <iframe *ngIf="myblock.youtoubeUrl!=null" [src]="sanitizer.bypassSecurityTrustResourceUrl(myblock.youtoubeUrl)" frameborder="0" style="width:100%;min-height:375px"></iframe>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="padding-left:10%;padding-right:10%">
                    <h2>@Localizer["Comments"]</h2>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="input-group" style="max-width:100%;width:100%">
                            <input type="text" class="form-control" placeholder="Add Comment" style="max-width:92%;width:92%; margin-top:10px" id="addComment">
                            <button class="btn btn-default glyphicon glyphicon-plus" type="button" style="margin-top:9px"></button>
                        </div>
                    }
                    <ul class="media-list">
                        <li *ngFor="let stepcomment of stepcomments" class="media" style="background-color:antiquewhite">
                            <div *ngIf="stepcomment.commentNumStep==(j+1)">
                                <div class="media-left">
                                    <a href="#">
                                        <div *ngFor="let myprofile of myprofiles">
                                            <div class="media-object" *ngIf="myprofile.profileId==stepcomment.userPath">
                                                <div class="card" style="max-height:inherit;max-width:inherit">
                                                    <img class="card-img-top" src="{{myprofile.avaProfile}}" style="max-height:100px;max-width:100px" alt="" />
                                                    <div class="card-block">
                                                        <p class="card-text">{{myprofile.nikProfile}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="media-body" align="justify">
                                    <h4>{{stepcomment.commentText}}</h4>
                                    <hr />
                                    {{stepcomment.commentDate}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="media">
        <div class="media-body">
            <h1>{{mydata?.instructionsName}}</h1>
            <div class="btn btn-link" href="#" alt=@Localizer["SearchByCategory"]>
                <h2>@Localizer["Category"] {{mydata?.instructionCategory}}</h2>
            </div>
            <a>{{mydata?.hashtegs}}</a>
            <div>
                <h3>{{mydata?.instructionTitle}}</h3>
            </div>
        </div>
        <div class="media-right">
            <a href="#">
                <div class="card" style="max-height:inherit;max-width:inherit">
                    <img class="card-img-top" src="{{author?.avaProfile}}" style="max-height:256px;max-width:256px" alt="" />
                    <div class="card-block">
                        <p class="card-text">{{author?.nikProfile}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class=" col-md-4 " *ngFor="let mystep of mysteps;let i = index" style="height:230px; text-align:center;vertical-align:middle">
        <button class="btn btn-default" data-toggle="modal"
                [attr.data-target]="'#'+i"
                style="color:black;font-size:50px; text-align:center;vertical-align:middle; height:inherit;width:90%">
            @Localizer["Step"] {{mystep.numStep}}
        </button>
    </div>
    @*<div class="btn btn-link col-md-4" href="#">
            <img src="~/images/qqq.png" />
        </div>*@
</div>
<div style="padding-left:10%;padding-right:10%">
    <h2>@Localizer["Comments"]</h2>
    <ul class="media-list">
        <li *ngFor="let mycomment of mycomments" class="media" style="background-color:antiquewhite">
            <div class="media-left">
                <a href="#">
                    <div *ngFor="let myprofile of myprofiles">
                        <div class="media-object" *ngIf="myprofile.profileId==mycomment.userPath">
                            <div class="card" style="max-height:inherit;max-width:inherit">
                                <img class="card-img-top" src="{{myprofile.avaProfile}}" style="max-height:100px;max-width:100px" alt="" />
                                <div class="card-block">
                                    <p class="card-text">{{myprofile.nikProfile}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="media-body">
                <h4>{{mycomment.commentText}}</h4>
                <hr />
                {{mycomment.commentDate}}
            </div>
        </li>
    </ul>

    @if (SignInManager.IsSignedIn(User))
    {
        <button type="button" class="btn btn-default" style="width:100%">+ Add Comment +</button>
    }
</div>