@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}
<div class="modal-header">
    <div class="modal-title" style="font-size:24px">@ViewData["Title"]</div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8" style="width:inherit">
            <section>
                <form ngNoForm asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10" style="width:100%">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger" ></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10"  style="width:100%">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="margin-left:15px">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                    <p>
                        <a href="#"  data-toggle="modal" data-target="#myModalRegister">Register as a new user?</a>
                    </p>
                    @*<p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>*@
                </form>
                <hr />               
                @{ int iMy = 0;
                    string[] hrefsMy = { "https://maxcdn.icons8.com/Share/icon/Logos//google_logo1600.png",
                    "https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-256.png",
                    "https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697029-twitter-512.png",
                    "http://www.iconninja.com/files/238/378/475/social-vkontakte-vk-app-music-icon.svg"};
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form ngNoForm asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div style="padding-left:5%">
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><img src="@hrefsMy[iMy++]" title="@provider.AuthenticationScheme" width="30" height="30" /></button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
